@use "sass:map";
@import "styles/pages/all";

.comment-container {
    margin-top: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
        color: #21afda;
        border-bottom: 2px solid #21afda;
        padding-bottom: 5px;
    }

    .btn {
        padding: 10px 15px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        border: none;

        &-comment {
            background: #40c057;
            color: white;

            &:hover {
                background: #2e8b3d;
            }
        }
    }


    input {
        width: 99%;
        height: 100px;
        border: 1px solid #d8d8d8;
        border-radius: 5px;
        margin-bottom: 10px;
        color: #444444;
        transition: all 0.05s ease-in-out;
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);

        &:focus {
            outline: none;
            border-color: #2196f3;
            background: #fff;
            box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
        }

        &::placeholder {
            color: #b0b0b0;
            font-style: italic;
        }

        &:hover {
            border-color: #2196f3;
        }

        &:disabled {
            background: #eaeaea;
            color: #a0a0a0;
            cursor: not-allowed;
        }
    }
}