@use "sass:map";
@use "header";
@import "styles/pages/all";
@import "styles/pages/theme";
@import "styles/pages/responsive";


.header_top {
    background: #afaeae;
    display: flex;
    align-items: center;
}

.header_top_left {
    display: flex;
    align-items: center;

    ul {
        display: flex;
        align-items: center;
        list-style: none;
        column-gap: 20px;

        li {
            font-size: 14px;
            color: map.get($theme-colors, "normal-text");
            display: flex;
            align-items: center;
            column-gap: 2px;
            font-weight: bold;
        }

        li:first-child {
            position: relative;

            &:after {
                position: absolute;
                right: -10px;
                height: 20px;
                width: 1px;
                background: black;
                opacity: 0.3;
                content: "";
            }
        }
    }
}

.header_top_right {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 12px;
    font-size: 20px;

    .auth-links {
        display: flex;
        align-items: center;
        gap: 10px;

        li {
            list-style: none;
            display: flex;
            align-items: center;
        }

        .user-auth {
            display: flex;
            align-items: center;
            gap: 5px;

            a {
                text-decoration: none;
                color: #000;
                font-weight: bold;
                font-size: 14px;

                &:hover {
                    color: #007bff;
                }
            }

            span {
                font-weight: 400;
            }
        }

        .user-menu {
            position: relative;

            button {
                background: none;
                border: none;
                cursor: pointer;
                font-size: 24px;

                svg {
                    padding: 5px;
                    color: #404040;
                    border: 1px solid #ededed;
                    border-radius: 50%;
                    transition: all 0.3s;
                    background: #E5E5E5;
                    cursor: pointer;

                    &:hover {
                        background: #007bff;
                        color: #E5E5E5;
                    }
                }
            }

            .dropdown-menu {
                position: absolute;
                top: 40px;
                right: -100px;
                background: rgb(236, 236, 236);
                border-radius: 8px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
                width: 200px;
                padding: 10px;
                z-index: 100;

                li {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;
                    cursor: pointer;


                    a {
                        text-decoration: none;
                        color: black;
                        font-weight: 800;
                        font-size: 14px;
                        transition: all 0.3s;

                        &:hover {
                            color: #007bff;
                        }
                    }

                    &:hover {
                        background: #c3c2c2;
                        border-radius: 8px;
                    }

                    .logout-btn {
                        color: black;
                        font-weight: 800;
                        font-size: 14px;
                        transition: all 0.3s;

                        &:hover {
                            color: #007bff;
                        }
                    }
                }

            }
        }
    }

    ul {
        column-gap: 8px;
        list-style: none;

        a {
            font-size: 25px;
            display: inline-block;
            color: map.get($theme-colors, "normal-text");
        }

        li:last-child {
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }

    li {
        a {
            :hover {
                background: map.get($theme-colors, "main");
                color: #E5E5E5;
                border-color: #E5E5E5;
            }

            svg {
                padding: 5px;
                color: #404040;
                border: 1px solid #ededed;
                border-radius: 50%;
                transition: all 0.3s;
                background: #E5E5E5;
                cursor: pointer;
            }
        }
    }
}

.header_menu {
    padding: 12px 0;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;
            position: relative;

            a {
                text-decoration: none;
                font-size: 15px;
                color: map.get($theme-colors, "normal-text");
                font-weight: bold;
                text-transform: uppercase;
                transition: all 0.3s;
                display: block;
            }
        }

        li:hover .header_menu_dropdown {
            opacity: 1;
            visibility: visible;
        }

        .active a {
            color: map.get($theme-colors, "main");
            font-size: 20px;
        }

        .header_menu_dropdown {
            background: #c9c8c8;
            display: grid;
            grid-template-columns: repeat(4, 1fr); // Chia thành 4 cột
            position: absolute;
            width: max-content;
            top: 20px;
            z-index: 9;
            transition: all 0.3s;
            opacity: 0;
            visibility: hidden;
            border-radius: 10px;
            padding: 5px;

            li {
                list-style: none;
                padding: 5px 5px;
                text-align: left;

                a {
                    text-transform: capitalize;
                    color: #232323;
                    font-weight: 400;
                    padding: 10px;
                    display: block;
                    white-space: nowrap;

                    &:hover {
                        color: #fff;
                    }
                }

                &:hover {
                    border-radius: 10px;
                    background: map.get($theme-colors, "main");
                }

            }
        }

    }

}

.chatbox-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #21afda;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background 0.3s;
    z-index: 9999;

    svg {
        font-size: 20px;
    }

    &:hover {
        background: #053466;
    }
}





.hero_categories {
    position: relative;

    .hero_categories_all {
        background: map.get($theme-colors, "main");
        padding: 15px 25px 15px 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #ffffff;
        font-weight: 600;

        svg,
        span {
            font-size: 20px;
            margin-right: 10px;
        }
    }

    ul {
        border: 1px solid #e5e5e5;
        position: absolute;
        opacity: 1;
        width: 99.3%;
        background: #ffffff;
        transition: all 0.3s;
        z-index: 9999;

        li {
            list-style: none;

            a {
                text-decoration: none;
                background-color: transparent;
                font-size: 17px;
                color: map.get($theme-colors, "normal-text");
                line-height: 39px;
                display: block;
                padding-left: 40px;
            }

            &:hover {
                background: #a4a3a3;

                a {
                    color: #ffffff;
                }
            }
        }

        &.hidden {
            opacity: 0;
        }
    }
}

.hero-search-container {

    .hero-search-form {
        width: 600px;
        height: 5px;
        float: left;
        padding-left: 15px;
        margin-bottom: 60px;

        form {
            display: flex;
            align-items: center;
        }

        input {
            border: none;
            height: 48px;
            font-size: 16px;
            color: #b2b2b2;
            padding-left: 20px;
            border: 1px solid #e5e5e5;
            width: 70%;

            :focus {
                outline: none;
                border: none;
            }
        }

        button {
            font-size: 14px;
            color: white;
            font-weight: 700;
            text-transform: uppercase;
            display: inline-block;
            padding: 15px 30px 15px;
            cursor: pointer;
            background: map.get($theme-colors, "main");
            border: none;
            border-radius: 4px;

            &:hover {
                background: #1d83a2;
                transition: background 0.3s;
            }
        }
    }

    .hero-search-phone {
        display: flex;
        align-items: center;

        .hero-search-phone-icon {
            font-size: 25px;
            padding: 10px;
            background: #f5f5f5;
            line-height: 50px;
            text-align: center;
            border-radius: 50%;
            float: left;
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: map.get($theme-colors, "main");
        }

        .hero-search-phone-text {
            display: inline-block;

            p {
                color: map.get($theme-colors, "normal-text");
                font-weight: bold;
                margin-bottom: 5px;
            }

            span {
                font-size: 14px;
                color: #636161;
            }
        }
    }
}

.menu_wrapper,
.menu_open {
    display: none;
}



@include Responsive($MEDIUM_DEVICE) {
    .hero-search-form {
        width: 550px !important;
    }
}

@include Responsive($TABLET_DEVICE) {
    @include header.header-small-device;
}

@include Responsive($WIDE_MOBILE) {
    @include header.header-small-device;

    .hero-search {
        display: grid;
        margin-top: -20px;
    }

    .header_logo {
        width: max-content;
    }

    .hero-search-form {
        width: 565px !important;

    }

    .hero-search-phone {
        margin-bottom: 30px;
    }

    .hero-item {
        margin-left: unset !important;
    }

}

@include Responsive($SMALL_DEVICE) {

    .hero-search-form {
        width: 350px !important;

        input {
            width: 60% !important;
            font-size: 14px !important;
        }

        button {
            font-size: 12px !important;
        }
    }

    .footer {
        width: 530px !important;
    }
}