@use "sass:map";
@import "styles/pages/all";

// Định nghĩa màu sắc
$primary-color: #007bff;
$secondary-color: #064e9a;
$hot-badge-color: red;
$rating-color: #f39c12;
$text-color: #333;
$white: #ffffff;
$box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);

.container_categories_slider {
    max-width: 1200px;
    margin: 30px auto;
    width: 100%;

    .categories_slider {
        .carousel-item {
            height: 280px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 8px;
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.02);
            }

            .slider-info {
                background: rgba(0, 0, 0, 0.6);
                color: $white;
                padding: 10px;
                text-align: center;
                border-radius: 5px;
                width: 80%;
            }

            .slider-image {
                max-width: 110%;
                max-height: 110%;
            }
        }
    }
}