@use "sass:map";
@import "styles/pages/theme";
@import "styles/pages/all";
@import "styles/pages/responsive";

.profile-page {
    display: flex;
    min-height: 100vh;
    background: #f5f5f5;
    border-radius: 8px;
    padding: 20px;

    h2 {
        font-size: 24px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .profile-content {
        flex-grow: 1;
        background: #fbf9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        margin-left: 20px;
        width: fit-content;

        .reset-password-form {
            max-width: 600px;
            margin: auto;

            label {
                display: block;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 5px;
            }

            input {
                width: 97%;
                padding: 10px;
                border: 1px solid #bdbdbd;
                border-radius: 5px;
                font-size: 14px;
                margin-bottom: 15px;
                background: #eae9e9;
                color: #1f1f1f;
            }


            .update-btn {
                background: #099ac7;
                color: #f3f3f3;
                padding: 8px 15px;
                font-size: 14px;
                font-weight: bold;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background: #236e84;
                }
            }
        }

        .book-list {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: center;
        }
    }
}

// Responsive
@include Responsive($TABLET_DEVICE) {
    .profile-content {
        margin-left: 0;
    }

    .reset-password-form {
        input {
            width: 95% !important;
        }
    }
}

@include Responsive($SMALL_DEVICE) {
    .profile-content {
        width: fit-content !important;

    }

    .reset-password-form {
        input {
            width: 95% !important;
        }
    }
}