@use "sass:map";
@import "styles/pages/all";

$primary-color: #007bff;
$secondary-color: #064e9a;
$hot-badge-color: red;
$rating-color: #f39c12;
$text-color: #333;
$white: #ffffff;
$box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);

.featured-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  margin-left: 100px;
}


.react-tabs {
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  li {
    list-style: none;
    font-size: 14px;
    color: $text-color;
    display: inline-block;
    margin: 10px;
    font-weight: 550;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $primary-color;
    }
  }
}