@use "sass:map";
@import "styles/pages/theme";

.breadCrumb {
    padding: 10px 0;
    font-size: 16px;

    .breadCrumb_text {

        .breadCrumb_option {
            ul {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    color: #333;
                    font-weight: 500;

                    a {
                        text-decoration: none;
                        font-weight: 800;
                        color: map.get($theme-colors, "main");
                    }

                    &::after {
                        content: " / ";
                        color: #666;
                    }

                    &:last-child::after {
                        content: "";
                    }
                }
            }
        }
    }
}