@use "sass:map";
@import "styles/pages/theme";

.breadCrumb {
    display: flex;
    align-items: center;
    padding: 45px 0px 40px;
    justify-content: center;
    line-height: 30px;
    margin-top: 100px;
    text-align: center;
    background: map.get($theme-colors, "main");

    .breadCrumb_text {
        color: #ffffff;

        h2 {
            margin-bottom: 10px;
        }

        ul {
            display: flex;
            list-style: none;
            column-gap: 10px;

            li {
                text-decoration: underline;
                color: map.get($theme-colors, "description");

                a {
                    text-decoration: none;
                    color: #ffffff;
                }

                &.link {
                    text-decoration: none;
                    :hover {
                        color: map.get($theme-colors, "description");
                    }
                }
            }
        }
    }
}