@use "sass:map";
@import "styles/pages/all";

.book-follow-button {
    margin-top: 20px;
    display: flex;

    .btn {
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: none;
        display: flex;
        align-items: center;
        gap: 6px;

        &-follow {
            background: #40c057;
            color: white;

            &:hover {
                background-color: darken(#40c057, 20%);
            }

            &:disabled {
                background: #a5e3b6;
                cursor: not-allowed;
            }
        }

        &-unfollow {
            background: #a933f7;
            color: white;

            &:hover {
                background-color: darken(#a933f7, 20%);
            }

            &:disabled {
                background: #d8aafc;
                opacity: 0.7;
                cursor: not-allowed;
            }
        }
    }

    .error-message {
        color: #ff4d4d;
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 5px;

        button {
            background: transparent;
      border: none;
      color: white;
      font-size: 16px;
      cursor: pointer;

            &:hover {
                color: #cc0000;
            }
        }
    }
}
