@use "sass:map";
@import "./style.css";
.container_categories_slider {
    max-width: 1200px !important;
    margin-top: 30px !important;

    .categories_slider {
        .categories_slider_item {
            height: 300px;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            border-radius: 5px;

            p {
                position: absolute;
                left: 6%;
                bottom: -5px;
                text-align: center;
                font-size: 17px;
                font-weight: 600;
                text-transform: uppercase;
                color: black;
                padding: 10px 0 10px;
                width: 267px;
                background: #ffffff;
                cursor: pointer;
                border-radius: 2px;
            }
        }

        .react-multi-carousel-item {

            margin-left: 15px;
        }
    }
}

.featured {
    margin-top: 50px;

    .section-title {
        margin-bottom: 50px;
        text-align: center;

        h2 {
            position: relative;
        }

        h2:after {
            position: absolute;
            left: 0;
            bottom: -15px;
            right: 0;
            height: 4px;
            width: 80px;
            background: rgb(18, 183, 233);
            content: "";
            margin: 0 auto;
        }
    }

    .react-tabs {
        ul {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }

        li {
            list-style: none;
            font-size: 20px;
            color: black;
            display: inline-block;
            margin-right: 25px;
            position: relative;
            cursor: pointer;
        }
    }

    .featured_item {
        margin-bottom: 50px;

        &:hover {
            .featured_item_img_hover {
                bottom: -10% !important;
            }

        }

        .featured_item_img {
            overflow: hidden;
            cursor: pointer;
            background-position: center;
            margin: 10px;
            height: 300px;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;

            .featured_item_img_hover {
                position: absolute;
                left: 0;
                bottom: -40%;
                width: 100%;
                text-align: center;
                transition: all 0.5s;

                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 0;

                    &:hover{
                        svg{
                            background: #448234;
                            border-color: #448234;
                            color: white;
                            font-size: 25px;
                            transform: rotate(360deg) !important;
                        }
                    }
                    svg{
                        padding: 10px;
                        height: 20px;
                        width: 20px;
                        border: 1px solid #ebebeb;
                        background: #ffffff;
                        color: #565555;
                        transition: all, 0.3s;
                        border-radius: 50%;
                    }
                }
            }
        }
        
        .featured_item_text{
            text-align: center;
            h5{
                margin-top: 10px;
                font-size: 15px;
                font-weight: 400;

                a{
                    color: #1c1c1c;
                    text-decoration: none;
                }
            }
        }
    }
}

@include Responsive($MEDIUM_DEVICE){
    .container{
        width: 990px !important;
    }
}
@include Responsive($TABLET_DEVICE){
    .container{
        width: 750px !important;
    }
}
@include Responsive($WIDE_MOBILE){
    .container{
        width: 540px !important;
    }
}

