@use "sass:map";
@import "styles/pages/theme";
@import "styles/pages/all";
@import "styles/pages/responsive";

.avatar-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #a1a0a0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #746f6f;
    margin-bottom: 10px;
    transition: 0.3s;
  }

  .upload-btn{
    background: #ff4d4d;
    color: #d2cece;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: #d94444;
    }
  }
}

@include Responsive($TABLET_DEVICE) {
  .profile-info {
    max-width: 90%;
  }
}

@include Responsive($WIDE_MOBILE) {

  .avatar-uploader {
    .avatar-img {
      width: 80px;
      height: 80px;
      font-size: 24px;
    }
  }
}

@include Responsive($SMALL_DEVICE) {

  .avatar-uploader {
    .avatar-img {
      width: 70px;
      height: 70px;
      font-size: 12px;
    }
  }
}